/*Site-wide styling*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #19e147;
    display: flex;
}

#uploadBlurb{
    background-color: #323232;
    
}

h1{
    border: thick solid black; 
    border-radius: 9cap;
}